player-connection-mode=Listen
player-connection-guid=1306742083
player-connection-debug=0
player-connection-project-name=PlaneAndSimple
player-connection-ip=192.168.86.25
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=029e2ecd2b2b48c49a2ad95885adb601
